apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "30s"
      queryTimeout: "60s"
      httpMethod: POST

  - name: PostgreSQL
    type: grafana-postgresql-datasource
    access: proxy
    uid: PCC52D03280B7034C
    url: postgres:5432
    database: billing_db
    user: billing_user
    secureJsonData:
      password: billing_password
    jsonData:
      sslmode: "disable"
      postgresVersion: 1500
      timescaledb: false
      database: billing_db
